<main class="main">
  <div class="container">
    <div class="wrapper">
      <ul class="ticket__list">
        <ng-container *ngIf="isTickets">
          <li class="ticket" *ngFor="let ticket of this.tickets">
            <span>{{ticket.id}}</span>
            <p class="event-name">{{event.name}}</p>
            <span>{{event.date | date:'medium'}}</span>
            <span>{{ticket.price}} UAH</span>
            <a (click)="buyTicket(ticket.id, $event)" class="btn buy-btn">BUY TICKET</a>
          </li>
        </ng-container>

        <li class="no-tickets" *ngIf="!isTickets">There is no available tickets</li>
      </ul>
    </div>
  </div>
</main>
