html{
  height: 100%;
}

body{
  background: #0F3447;
  height: 100%;
  margin: 0;
}

img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.img-div {
  overflow: hidden;
}

.btn {
  cursor: pointer;

  font-size: 1rem;
  color: #fff;

  padding: 0.5rem 2rem;

  background-color: #202B47;
  border: none;
  border-radius: 10px;
}

.btn:hover{
  color: #0a5d5c;
  border: 2px solid #0a5d5c;
  background-color: #fff;

  padding: calc(0.5rem - 2px)  calc(2rem - 2px);
}


.container{
  margin: 0 auto;
  width: 1320px;
}

@media screen and (max-width: 1400px){
  .container{
    width: 1140px;
  }
}

@media screen and (max-width: 1200px){
  .container{
    width: 960px;
  }
}

@media screen and (max-width: 992px){
  .container{
    width: 720px;
  }
}

@media screen and (max-width: 768px){
  .container{
    width: 540px;
  }
}

@media screen and (max-width: 576px){
  .container{
    width: 98%;
    padding: 1%;
  }
}

