@import "shared";

html{
  height: 100%;

  font-family: $primaryFont;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #0F3447;

  height: 100%;
  margin: 0;
}

.main{
  width: 30%;
  min-width: 250px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  width: 100%;

  background: white;

  border-radius: $borderRadius;
  box-shadow: $shadow;

  padding: 1rem 0;
}

.form__header{
  margin: 0;
}

.form__input{
  font-size: 1rem;

  border: 1px solid #43576c;
  border-radius: $borderRadius;

  padding: 0.5rem 1rem;
}

.form__input::placeholder{
  color: #4d5257;
}

.form__button{
  @include submit
}

.form__button:hover{
  @include submit-hover
}

.form__text{
  font-size: .8rem;

  margin: 0;
}

.footer{
  @include footer-style
}
