$primaryFont: 'Montserrat', sans-serif;
$secondaryFont: 'Lato', sans-serif;
$shadow: 0 0 20px -3px rgba(0,0,0,0.5);
$borderRadius: 10px;
$borderRadius50: 50%;

@mixin submit {
  font-size: 1rem;
  color: #fff;

  padding: 0.5rem 1rem;

  background-color: #202B47;
  border: none;
  border-radius: $borderRadius;
}

@mixin submit-hover {
  color: #0a5d5c;
  border: 2px solid #0a5d5c;
  background-color: #fff;

  padding: calc(0.5rem - 2px)  calc(1rem - 2px);
}

@mixin logout__button {
  background-color: #ff5627;
}

@mixin delete-hover {
  color: #ff5627;
  border: 2px solid #ff5627;
}

@mixin footer-style{
  background: white;
  width: 100%;
  height: 5%;

  text-align: center;

  position: absolute;
  top: 95%;
}
